//variables
//paleta de colores 

/* Estilos generales */
$color1: rgb(163, 61, 92);
$color2: rgb(245, 220, 245);
$color3: #fa4b6e;
$color4: #3f2ab6;
$color5: #ddd;
$color6: rgb(235, 59, 118);
$color7: purple;
$color8: #cc8787;